.header {
  width: 100vw;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #fafafa;
  background-color: #2223;
  position: sticky;
  z-index: 100;
  box-shadow: 0 0 2rem 0 #0001;
  display: flex;
}

a {
  color: #fafafa;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

a:hover {
  color: #fafafa;
}

.title {
  font-size: 1.4rem;
  margin-right: 1rem;
}

.subtitle {
  font-size: 0.8rem;
}


.headerLeft {
  flex: 1;
  text-align: left;
  padding: 0 2rem;
}

.headerRight {
  flex: 1;
  text-align: right;
  padding: 0 1rem;
  font-size: 0.8rem;
}